// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyCpL60HcBcgfMtSol7wY5NzZ3A75vzDQAk",
  authDomain: "astra-os-5e622.firebaseapp.com",
  projectId: "astra-os-5e622",
  storageBucket: "astra-os-5e622.firebasestorage.app",
  messagingSenderId: "89199132315",
  appId: "1:89199132315:web:e027d7dd11b681a09c903e",
  measurementId: "G-X8RBNY4Q04"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);